---

---
<section class="w-full bg-[#FAFAFA] relative mb-12 px-16 flex flex-col justify-center items-center md:px-24 lg:px-32">
    <figure class="max-w-[800px] mx-auto">
        <img class="w-full" src="/images/activated_card.png" alt="EDP Activated Banner"/>
    </figure>
    <div class="space-y-6  px-20 -mt-15 lg:px-40 lg:max-w-[800px] mx-auto lg:-mt-30 lg:mb-8">
        <p class="font-inter font-light text-[#3EC09C] uppercase text-3xl">EV.Card ativado com sucesso</p>
        <p class="text-[#616161] text-sm font-light">Parabéns! Agora o seu EV.Card está pronto para uso nas rede de postos de carregamento EDP. Navegue pelo nosso mapa de postos para saber mais e gerencie seu EV.Card em "meus cartões" na sua área do cliente.</p>
    </div>
</section>

<style>

</style>