---
import { Image } from "astro:assets";
import ActivatedCardImage from './images/activated_card.png';


---
<section class="w-full bg-[#FAFAFA] relative mb-12 px-16 flex flex-col justify-center items-center md:px-24 lg:px-32">
    <figure class="max-w-[800px] mx-auto">
        <Image class="w-full" src={ActivatedCardImage} alt="EDP Activated Banner"/>
    </figure>
    <div class="space-y-6  px-20 -mt-15 lg:px-40 lg:max-w-[800px] mx-auto lg:-mt-30 lg:mb-8">
        <p class="font-inter font-light text-[#3EC09C] uppercase text-3xl">EV.Card successfully activated</p>
        <p class="text-[#616161] text-sm font-light">Congratulations! Your EV.Card is now ready to use at EDP’s charging station network. Explore our station map to learn more, and manage your EV.Card under “My Cards” in your customer area.</p>
    </div>
</section>

<style>

</style>