---
import { Image } from 'astro:assets';
import CityImage from './images/city.png';
import EVCardImage from './images/cartao-ev-card-porsche.png';

interface Props{
    showCard?: boolean;
}

const { showCard = true } = Astro.props;
---


<section class="flex flex-col items-center justify-center gap-20 px-12 mb-14 md:flex-row">
    
    <div class="flex-1 flex flex-col items-center justify-center gap-4">
        <figure>
            <Image src={CityImage} alt="City">
        </figure>
        <p class="text-[#3EC09C] text-lg font-inter">Charging station map</p>
        <a class="upper text-[#F6334F] font-bold tracking-wider text-center uppercase" href="#">Go to map&larr;</a>
    </div>

    { showCard && 
        <div class="flex-1 flex flex-col items-center gap-4 relative">
            <figure>
                <Image src={EVCardImage} alt="EV Card Porsche" class="object-cover relative left-5">
            </figure>
            <p class="text-[#3EC09C] text-lg font-inter">Don’t have an EV.Card yet?</p>
            <a class="upper text-[#F6334F] font-bold tracking-wider text-center uppercase" href="#">Request yours now&larr;</a>
        </div> 
    }
</section>