---
interface Props{
    showCard?: boolean;
}

const { showCard = true } = Astro.props;
---


<section class="flex flex-col items-center justify-center gap-20 px-12 mb-14 md:flex-row">
    
    <div class="flex-1 flex flex-col items-center justify-center gap-4">
        <figure>
            <img src="/images/city.png" alt="Cidade">
        </figure>
        <p class="text-[#3EC09C] text-lg font-inter">Mapa de postos de carregamento</p>
        <a class="upper text-[#F6334F] font-bold tracking-wider text-center uppercase" href="#">Acessar Mapa&larr;</a>
    </div>

    { showCard && 
        <div class="flex-1 flex flex-col items-center gap-4 relative">
            <figure>
                <img src="/images/cartao-ev-card-porsche.png" alt="Cartão EV Porsche" class="object-cover relative left-5">
            </figure>
            <p class="text-[#3EC09C] text-lg font-inter">Ainda não possui um EV.Card?</p>
            <a class="upper text-[#F6334F] font-bold tracking-wider text-center uppercase" href="#">Peça já o seu&larr;</a>
        </div> 
    }
</section>