---

---
<section class="relative py-10 md:px-8 md:py-0 h-fit lg:px-16 xl:-top-2/8 xl:left-1/2 xl:max-w-2/4 xl:-mb-50">
    <!--  Texto -->
    <div class="p-8 md:px-0 space-y-4 font-light max-w-screen">
        <h2 class="font-inter text-3xl leading-9 text-[#333333] uppercase text-left">
            Energia limpa e instantânea ao seu alcance
        </h2>
        <p class="text-left text-[#333333]  leading-6">
            Carregadores ultra rápidos para você estar pronto para mais emoção em apenas 15 minutos
        </p> 
    </div>
    <!-- Detalhes -->
    <div class="flex flex-col justify-center items-center gap-4 text-neu-08 font-light p-8 md:px-0 md:flex-row  md:gap-16">

        <span class="flex flex-col gap-3 items-start justify-center w-full md:w-1/3">
            <span class="text-[#3EC09C] text-4xl self-start">15 min</span>
            Tempo de carga para autonomia de 100km
        </span>
        <span class="flex flex-col gap-3 items-start justify-center w-full md:w-1/3">
            <span class="text-[#3EC09C] text-4xl self-start">150kw</span>
            Potência do carregador ultrarápido EDP
        </span>
        <span class="flex flex-col gap-3 items-start justify-center w-full md:w-1/3 xl:self-baseline">
            <span class="text-[#3EC09C] text-4xl self-start">Smart</span>
            Previsto para 2021
        </span>
    </div>

</section>